
body{



   font-family: Monospace,"Monaco";
    color: #8e624b;
    margin: 0;






}
#nav {
    position: absolute;
    margin-right: -100px;
    margin-left:800px;
    width: auto;
}
.navigation
{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.nav {
    overflow: hidden;

}
.navigation a{
    float: left;
    color: #91623a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navigation  a:hover {
    background-color: #905a49;
    border-radius: 7px;
    color: #d5af8b ;
}
.nav a {
    float: left;
    color: #91623a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #905a49;
    border-radius: 7px;
    color: #d5af8b ;
}
dt{
    display: inline;
    float: left;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
}
dt a
{
    text-decoration-line: none;
    color: #d5cfbb;
}
dl
{
    padding-right: 20px;
}
h2
{
    padding-left: 20px;
}
dt a:hover
{
    color: #cfd0d5;
    background-color: #91623a;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom:5px ;
}
#nav
{

    display: flex;
    padding-left: 20px;
    padding-right: 20px ;
    float: right;
    position: absolute;
    margin-right: -800px;


}
.prog ul{
    display: inline-block;
    justify-content: space-around;
   margin-left: 50px;
}

#img
{
    background-image: url("20210622_015859_0000.png");
    height: 650px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 7px;
}
.con img
{
    justify-content: space-between;

}
.con
{
    margin-left: 1000px;
    position: absolute;
    margin-top: 570px;
    margin-bottom: 0;
    padding-bottom: 0;

}
#color
{
    background-image: url("zamene.png");
    position: relative;
    background-position: center;
    background-size: cover;
  background-repeat: no-repeat;
    padding-bottom: 7px;
    height: 650px;
}
#pozadina{
    background-image: url("pozadina.png");
    position: relative;
    background-position: center;
    background-size: cover;



}
hr{
    width: 200px;

}
.gl img
{
    display: inline-block;

}
.gl
{
    text-align: justify;
  padding-top: 150px;
padding-left: 400px;
    width: 800px;
    margin-top: -180px;

}
.glaven
{
    width: 1000px;
    text-align: justify;
    position: center;
    margin: auto;
    padding-top: 50px;
    border-radius: 50px;

}
audio
{
    width: 300px;
    height: 100px;
    display: inline-block;
    justify-content: space-around;
    padding-left: 10px;


}
.sredina
{
    width: 600px;
    text-align: center;
    position: center;
    margin: auto;
    padding-top: 10px;
}
.prog
{
    width: 600px;
    text-align: center;
    position: center;
    margin: auto;
    padding-top: 10px;
}
.prog h1
{
    text-align: center;
    align-items: center;
}
.programiranje
{
    align-items: center;
    text-align: center;
    margin-top:50px;
}
.naslov
{
    width: 300px;
    display: inline-block;
    padding-left: 30px;
}
h1
{
    font-family: Carlito;
}
.container:hover .image
{


    opacity: 0.5;
}


.mess
{
    width: 600px;
    margin: auto;
}
.cont
{
   display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    border-radius: 10px;
    border: 0;
    background: #e8cdb2;
    padding: 10px 20px;
    outline: none;
    color: #91623a;

}
.cont:focus
{
    box-shadow: 0 0 10px 4px #c3a488;
}
textarea
{
    height: 120px;
    resize: none;
}
.sumbit
{
    float: right;
    border: none;
    background:   linear-gradient(#e8cdb2, #c3a488);
    color: #b07c64;
    padding: 12px 50px;
    border-radius: 15px;
    margin-bottom: 30px;
}
.sumbit:hover
{
    background: linear-gradient(#b5967c, #b18e7e);
    color: wheat;
}
.izberi a
{
    display: block;
    padding: 12px 50px;
    background: linear-gradient(#e8cdb2, #c3a488);
    border-style: solid;
    border-color: #d4b09c;

    margin-top: 50px;
    text-decoration-line: none;
    color: #91623a;
    border-radius: 15px;

}
.izberi a:hover
{
    background: linear-gradient(#b5967c, #b18e7e);

}
.pasusi
{

    padding-right: 50px;
    padding-left: 50px;
    padding-top: 60px;
    padding-bottom: 300px;
    background-color: #e8dcbe;


}
audio:nth-of-type(2)
{
    margin-left: 190px;
}
audio:nth-of-type(1)
{
    margin-left: 40px;
}

.box
{


    display:inline-block ;
  width:20%;
    float: left;
    padding: 5px;
    margin-left: 5px;
}
.box img{
    width: 100%;
    padding-left: 20px;
}
.box img:hover
{
    transform: scale(2);
}
.box2
{


    display:inline-block ;
    width:20%;
    float: left;

}
.box2 img{
    width: 100%;

}
.box2 img:hover
{
    transform: scale(2);

}
#pasus
{
    background-color: #e8dcbe;

    padding-right: 50px;
    padding-left: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.pasusi p, #pasus p
{
    text-align: justify;
}
.pasusi h1
{
    align-items: center;
    text-align: center;
}
#pasus
{
    align-items: center;
    text-align: center;
}
#footer
{

    margin-top: 50px;
}
.footer
{
    float: right;
    margin-right: 500px;

}
.foooter
{
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}